.connectButton {
  position: absolute;
  right: 50px;
  top: 40px;
  width: max-content;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  transition: all 0.5s;

  font-size: 18px;
  z-index: 12;
}
.connectButton:hover {
  cursor: pointer;
  background-color: white;
  color: red;
}
.hideConnectButton {
  z-index: 3;
}
