.roomSelectionPopupButton {
  position: absolute;
  top: 20px;
  right: 50px;
  width: max-content;
  height: max-content;
  font-size: 16px;
  background-color: black;
  color: white;
  transition: all 0.5s;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 2;
}
.roomSelectionPopupButtonActive {
  color: black;
  background-color: white;
  z-index: 2;
}
.roomSelectionPopupButton:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.roomSelectionMainContainer {
  width: max(400px, 400px);
  height: max-content;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(184, 5, 5);
  border-radius: 15px;
  padding: 20px 20px;
  position: relative;
}
.roomSelectionWindow {
  width: max(100%, 100%);
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  align-items: center;
  justify-items: center;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 12px;
  overflow-y: scroll;
  gap: 5px;
}
.roomSelectionMainContainer > p {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}

.columnHeadings,
.roomInfoContainer {
  font-size: 20px;
  font-weight: bold;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
  border-bottom: 1px solid black;
  width: max(90%, 90%);
  margin-bottom: 7.5px;
  position: relative;
}
.roomSelectionWindow > p {
  font-size: 16px;
}
.roomInfoContainer {
  font-size: 16px;
  border-bottom: none;
  margin-bottom: 0px;
  font-weight: normal;
}
.joinRoomButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
  background-color: rgb(184, 5, 5);
  border: none;
  width: max-content;
  padding: 2.5px 5px;
  border-radius: 2.5px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinRoomButton:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.closingButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: white;
  color: rgb(184, 5, 5);
  border-radius: 50%;
  transition: all 0.5s;
}

.closingButton:hover {
  cursor: pointer;
  background-color: rgb(184, 5, 5);
  color: white;
}
